@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-yellow: #ff0;
  --primary-orange: #f9ab00;
  --primary-cyan: #0ff;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}
/*******************NAVBAR************************/
.ml-auto {
  margin-left: auto;
}

.logo {
  height: 6rem;
}

/*-----------NAV MENU LINKS-----------*/

nav {
  z-index: 10;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color:var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-cyan);
}

/******HAMBURGER******/
.navbar-toggler {
  color: var(--primary-white) !important;
  border-color: var(--primary-white) !important;
}

/*******************HEADER************************/

.header-wrapper {
  position: relative;
  background: url(header.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/*-------------TYPED TEXT -------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }

  .typed-text {
    font-size: 1.2rem !important;
  }
}

/*------------- HEADER MAIN OFFER BUTTON -------------*/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 0;
  padding: .625rem .75rem .75rem .75rem;
  color: var(--primary-white);
  margin-top: 2rem;
} 

.btn-main-offer:hover {
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/*------------- PARTICLES -------------*/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}