@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-yellow: #ff0;
  --primary-orange: #f9ab00;
  --primary-cyan: #0ff;
  --primary-red: #f00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}
/*******************NAVBAR************************/
.ml-auto {
  margin-left: auto;
}

.logo {
  height: 6rem;
}

/*-----------NAV MENU LINKS-----------*/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color:var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-cyan);
}

/******HAMBURGER******/
.navbar-toggler {
  /* border: 1px solid var(--primary-white);
  color: var(--primary-white); */
  color: var(--primary-white) !important;
  border-color: var(--primary-white) !important;
}